@* @model IEnumerable<DemoWebApp.DAL.Models.Product> *@
@{
    ViewData["Title"] = "Products";
}

<h2>Products</h2>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
        font-weight: bold;
    }
</style>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Description</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Price.ToString("C")</td>
            <td>@product.Category.Name</td>
            <td>@product.Description</td>
            <td>@product.Quantity</td>
        </tr>
    }
    </tbody>
</table>